::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #835bfb;
  /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #6c3ef2;
}

#heroBack {
  height: 100%;
  width: 100%;
  background-image: url("/gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}

#pageBack {
  background-image: url("/gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#pcMenu {
  display: block;
}
#phoneMenu {
  display: none;
}

@media only screen and (max-width: 500px) {
  #pcMenu {
    display: none;
  }
  #phoneMenu {
    display: block;
  }
  #formDisplay {
    display: none;
  }
}

@media only screen and (max-width: 1485px) {
  #searchInp {
    display: none;
  }
}

#splineStyleMax {
  height: 700px;
  width: 700px;
}

/* @media only screen and (max-width: 1270px) {
  #splineStyleMax {
    height: 100%;
    width: 100%;
  }
} */

/* .pyramid-loader {
  position: relative;
  width: 300px;
  height: 300px;
  display: block;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

.pyramid-loader .wrapper .side {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
  transform: rotateZ(-30deg) rotateY(90deg);
  background: conic-gradient(#2bdeac, #f028fd, #d8cce6, #2f2585);
}

.pyramid-loader .wrapper .side2 {
  transform: rotateZ(30deg) rotateY(90deg);
  background: conic-gradient(#2f2585, #d8cce6, #f028fd, #2bdeac);
}

.pyramid-loader .wrapper .side3 {
  transform: rotateX(30deg);
  background: conic-gradient(#2f2585, #d8cce6, #f028fd, #2bdeac);
}

.pyramid-loader .wrapper .side4 {
  transform: rotateX(-30deg);
  background: conic-gradient(#2bdeac, #f028fd, #d8cce6, #2f2585);
}

.pyramid-loader .wrapper .shadow {
  width: 60px;
  height: 60px;
  background: #8b5ad5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(90deg) translateZ(-40px);
  filter: blur(12px);
} */
