::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #835bfb;
  /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #6c3ef2;
}

#heroBack {
  height: 100%;
  width: 100%;
  background-image: url("/gradient_light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}

#pageBack {
  background-image: url("/gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#pcMenu {
  display: block;
}
#phoneMenu {
  display: none;
}

@media only screen and (max-width: 500px) {
  #pcMenu {
    display: none;
  }
  #phoneMenu {
    display: block;
  }
  #formDisplay {
    display: none;
  }
}

@media only screen and (max-width: 1285px) {
  #searchInp {
    display: none;
  }
}

#splineStyleMax {
  height: 700px;
  width: 700px;
}

/* @media only screen and (max-width: 1270px) {
  #splineStyleMax {
    height: 100%;
    width: 100%;
  }
} */
